.closure {
  padding: 110px 0 30px;
  background-image: url(../assets/star.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center 40px;
  h2 {
    margin: 0 0 40px;
    text-align: center;
  }
  .contact {
    a {
      display: block;
      &.link-green {
        color: $greenMedium;
      }
      &.link-red {
        color: $redMedium;
      }
    }
  }
  .thank-you {
    margin-top: 100px;
    padding-top: 35px;
    background-image: url(../assets/hearth.svg);
    background-repeat: no-repeat;
    background-size: 112px 26px;
    background-position: center top;
    text-align: center;
    div {
      font-family: $fontSecondary;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $textPale;
    }
  }
}