.scales {
  padding-top: 110px;
  text-align: center;
  background-image: url(../assets/star.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center 40px;
  h2 {
    margin: 0 0 5px;
  }
  .scale-illustration {
    display: block;
    margin: 35px auto;
    &.scale-illustration--char {
      width: 211px;
    }
  }
}