.scroll-container {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  @media (min-width: 849px) {
    position: relative;
    margin: 0 auto;
    width: 375px;
    height: 736px;
    border: 6px solid $border;
    border-radius: 48px;
  }
}
.double-container {
  display: none;
  @media (min-width: 849px) {
    display: block;
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    width: 390px;
    height: 750px;
    background: transparent;
    border: 12px solid rgba($borderDark, 0.48);
    border-radius: 52px;
  }
}
@media (min-width: 849px) and (min-height: 470px) {
  .scroll-container {
    position: absolute;
    left: 50%;
  }
  .double-container,
  .scroll-container {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.content {
  margin-top: -1px;
  padding-top: 60px;
  width: 100vw;
  background-image: url(../assets/bg_Intro_Col.png);
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: center;
  overflow-x: hidden;
  @media (min-width: 849px) {
    width: 375px;
  }
}